<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example logging config file that enables details logs for every part of the codebase. Logs are kept for 14 days. -->
<!-- For an explanation on how to use this file, go to https://github.com/stratisproject/StratisBitcoinFullNode/blob/master/Documentation/using-logging.md. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>

		<!-- ALL - DEBUG -->
		<target name="log_Debug" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
			<target xsi:type="File" fileName="${var:mydir}/log_Debug.txt" archiveNumbering="Date" maxArchiveFiles="14" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
		</target>

		<!-- ALL - INFO -->
		<target name="log_Info" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
			<target xsi:type="File" fileName="${var:mydir}/log_Info.txt" archiveNumbering="Date" maxArchiveFiles="14" archiveEvery="Day" layout="[${longdate:universalTime=true} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite} ${message}" encoding="utf-8" />
		</target>

		<target name="console" xsi:type="Console" />

	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="log_Debug" />

		<logger name="*" minlevel="Info" writeTo="log_Info" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>